
.kakoi{
  padding: 10px;
  margin-bottom: 10px;
  border: 4px dashed #333333;
  text-align:center;
}
// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.testtagu{
  padding: 10px;
  margin-bottom: 10px;
   border: 3px dashed #333333;
    text-align:center;
}
